server:
  port: 8080
app:
  name: notification-platform
  version: 0.0.1
management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always
